* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 74.375px;

    font-size: 16px;

    scroll-behavior: smooth; 
    -ms-overflow-style: none;  /*For Old IE / Edge to  hide scroll bar*/
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Arial, sans-serif;
    color: white;

    background-image: url("../images/heroBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    user-select: none;

}

main {
    flex: 1;
}

#cookie-consent {
    display: none;
    flex: column;

    justify-content: center;
}

#pop-up {
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 95%;
    margin: 0.500rem;
    padding: 10px 5px;

    color:  black;
    font-size: 0.800rem;
    text-align: center;

    border-radius: 10px;
    border: 2px solid rgb(34, 33, 33);
    background-color: #ccc;   
}

#pop-up-button {
    margin-top: 0.875rem;
    padding: 5px 10px;
    width: 30%;

    font-weight: bold;
    color: white;
    background-color: black;

    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding: 1rem;

    border-bottom: 1px solid white;
    background-color: rgb(13, 27, 53);
}

#profile-container {
    display: none;
    align-items: center;
    gap: 0.600rem;
}

#profile-container.show {
    display: flex;
}

#login-button {
    display: none;

    color: #ccc;
    font-weight: bold;

    border: 1px solid white;
    padding: 8px 15px; 
    border-radius: 5px;
    text-decoration: none; 
   
}

#login-button.show {
    display: inline-block;
}

#login-button:hover {
    background-color: white; 
    color: black;
} 

#brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

#profile {
    width: 55px;
    height: 50px;

    border-radius: 50%;
}

nav ul {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;  

    list-style: none;
}

nav ul.show {
    display: flex;
}

nav a {
    color: #ccc;
    margin: 0 15px;

    text-decoration: none;
}

nav a:hover {
    color: rgb(84, 207, 255);
}

#name-display {
    display: none;
}

#name-display.show {
    display: inline-block;
}

#authentication.hide {
    display: none;
}

#authentication {
    display: inline-block;
    margin: 0;
    padding: 12px;

    color: white;
    text-decoration: none;
}

#authentication:hover {
    background-color: #34495e;
}

#logout {
    display: inline-block; 
    margin: 0;
    padding: 12px;

    color: white;
    text-decoration: none;
}

#logout:hover {
    background-color: #34495e;
}

#hamburger-icon {
    color: white;
    font-size: 1.5rem;    

    background: none;
    border: none;

    cursor: pointer;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    padding: 1rem 2rem;
    min-height: 100vh;
}

.hero-content {
    max-width: 100%;
}

#hero-brand {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 10px
}

#pre-release {
    margin-bottom: 1rem;
    padding: 10px;     

    font-size: 0.700rem;
    color: skyblue; 

    border: 1px solid skyblue; 
    border-radius: 24px; 
}

#hero h1 {
    font-size: 2.3rem;
    font-weight: lighter;
    color: rgb(84, 207, 255);
}

#hero p {
    margin-bottom: 1rem;

    font-size: 0.875rem;
    line-height: 1.6;
    text-align: center;
}

.author {
    font-size: 0.875rem;
    color: #ccc;
    text-align: center;
    margin-bottom: 1rem;
    font-style: italic;
}

.author a{
    color: #ccc;

}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    text-align: center;
}

.cta .btn {
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn.primary {
    background: yellow;
    color: black;
}

.btn.primary:hover {
    background: rgb(235, 201, 50);
}

.btn.secondary {
    border: 2px solid #fff;
    color: #fff;
}

.hero-image img {
    width: 10rem;
    border-radius: 50%;
}

#search-container {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

#search-bar {
    margin-top: 0.875rem;
    padding: 10px;
    width: 100%;
    
    text-align: center;

    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    outline: none;
}

#search-bar:focus {
    border: 2px solid rgb(84, 207, 255);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#suggestions {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

    color: black;

    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#suggestions.show {
    display: block;
}

.episodes {
    display: none;
}

#suggestions ul {
    font-size: 0.875rem;
    text-align: left;

    list-style: none;
}

#suggestions li {
    padding: 10px 15px;
}

#suggestions li:hover {
    background-color: rgb(197, 193, 193); 
}

#no-result {
    display: none;
}

#videos {
    padding: 40px 10px;

    text-align: center;

    border-top: 1px solid white;
    background: linear-gradient(to right, rgb(15, 25, 80), rgb(8, 15, 27));
}

#videos h2 {
    font-size: 1.6rem;
    color: white;
}

#videos p {
    margin: 10px;
    
    font-size: 0.775rem; 
    color: #aaa;
}

#video-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 2rem 15px;
}

.video-bar {
    padding: 10px;

    color: black;

    background-color: rgb(84, 207, 255);
    border-radius: 20px;
}

.video-bar:hover {
    background-color: rgb(65, 184, 231);
}

.video-bar.active {
    background-color: white;
}

.video-bar h3 {
    font-size: 0.875rem;
}   

#video-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;

}

.video-card {
    padding: 15px;
    width: 90%;

    text-align: center;

    border: 1px solid #aaa;
    border-radius: 8px;
}

.video-card iframe {
    width: 100%;
    height: 170px;
    border: none;
    border-radius: 4px;
}

.video-card h3 {
    margin: 10px 0 5px;

    color: rgb(84, 207, 255);
}

.video-card p {
    margin: 16px;
    word-wrap: break-word;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0.875rem;
    width: 100%;
}

.video-button {
    padding: 5px;
    width: 30%;

    color: black;
    font-weight: bold;
    text-decoration: none;

    background-color: yellow;
    border-radius: 5px; 
}

.video-button:hover {
    background-color: rgb(235, 201, 50);
}

.cheatsheet {
    margin: auto;
    padding: 5px;
    width: 64%;

    text-decoration: none;

    background-color: yellow;
    border-radius: 5px; 
}

.cheatsheet a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.cheatsheet:hover {
    background-color: rgb(235, 201, 50);
}

.video-meta {
    margin-top: 1rem; 
    display: flex;
    justify-content: center;
}

.author-pic {
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    object-fit: cover;
}

.teacher {
    color: #aaa;
    text-decoration: none;
}

.teacher:hover {
    text-decoration: underline;
}

footer {
    padding: 1.5rem;    

    font-size: 0.9em;
    text-align: center;
    
    border-top: 1px solid white;
    background-color: rgb(13, 27, 53);
}

#platforms {
    display: flex;
    justify-content: center;
    gap: 25px;
}

#platforms a{
    text-decoration: none;
}

#platforms i{
    color: rgb(84, 207, 255); 
    font-size: 1.5rem;
}

footer p {
    margin: 1rem;

    font-size: 1rem;
}

footer p a { 
    color: white;

    text-decoration: none;
}

footer p a:hover {
    color: skyblue;

    text-decoration: underline;
}

.legal-container {
    color: white;
    text-decoration: none;
}

.legal-container:hover {
    color: skyblue;

    text-decoration: underline;
}

@media (max-width: 301px) {
  body::before {
    content: "You can't view Reycademy at 301px or less. Enjoy the void :)";
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;

    font-size: 24px;
    text-align: center;
    color: white;

    background: black;
  }

  body > * {
    display: none;
  }
}

@media (min-width: 500px) {

    .hero-image img {
        width: 14rem;
    }

    #hero h1 {
        font-size: 3rem;
    }

    .cta {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 768px) {

    #pop-up {
        width: 80%; 
    }

    header {
        flex-direction: row;
    }

    #brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 0;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .hero-image img {
        width: 15rem;
    }
    
    #hero h1 {
        font-size: 4rem;
    }

    #hero p {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    #hamburger-icon {
       display: none;
    }

    .video-card {
        width: 350px;
    }
}

@media (min-width: 900px) {

    #pop-up {
        width: 60%; 
    }

    #hero {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding: 5rem 1rem;
        min-height: 0;
    }

    .hero-content {
        max-width: 50%;
    }

    #hero-brand {
        flex-direction: row;
        justify-content: flex-start;
    }

    #hero h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    #hero p {
        font-size: 1.3rem;
        text-align: left;
    }

    #hero .author {
        font-size: 1.2rem;
        margin-bottom: 2rem;
        text-align: left;
    }

    .cta {
        flex-direction: row;
        justify-content: flex-start;
    }

    .cta .btn {
        margin-right: 1rem;
    }

    .hero-image img {
        width: 350px;
    }

    .video-card {
        width: 400px;
    }
    
    #video-container {
        display: flex;   
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .video-bar {
        padding: 15px;
        width: 18%;

        border-radius: 20px;
    }
}

@media (min-width: 1024px) {

    #pop-up {
        width: 50%; 
    }

    header {
        flex-direction: row;
    }
    
    .section-bar {
        font-size: 1.2rem;
    }

    nav a {
        display: inline;
    }

    nav a:hover {
        color: rgb(84, 207, 255);
    }

    #videos h2 {
        font-size: 2.5rem;
    }

    #videos p {   
        font-size: 0.875rem; 
    }

    .video-bar h3 {
        font-size: 1rem;
    }
    
    .video-card {
        width: 450px;
    }
}

@media (min-width: 1120px) {

    .video-card {
        width: 350px;
    }
}